$background_color: white;
$border_color: #daddde;
$filter_width: 1260px;

.filters_wrapper {
  background-color: $background_color;
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  padding: 20px 0;
  display: flex;
  align-items: center;

  .filters_items_wrapper {
    position: relative;
    width: 100%;
    max-width: $filter_width;
    display: flex;
    align-items: center;
  }
  img {
    width: 14px;
    height: 14px;
  }
  .left,
  .right {
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid $border_color;
    background-color: $background_color;
  }
  .left {
    left: 0;
  }
  .right {
    right: 60px;
    @media (min-width: 768px) {
      right: 0;
    }
  }
}
.filters_items {
  width: $filter_width;
  margin-left: 30px;
}
.content {
  padding-top: 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
