$dropdown_border_color: #eee;
$dropdown_bg_selected: rgb(236, 216, 247);
$dropdown_color_selected: #9703f3;
$selected_item_width: 80px;

.filter_wrapper {
  display: flex;
}

.filter_scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  .selected_item {
    background-color: $dropdown_bg_selected;
    color: $dropdown_color_selected;
    border: solid 1px $dropdown_color_selected;
    font-size: 14px;
    border-radius: 999px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    margin: 0 5px;
    span {
      padding-right: 10px;
      width: $selected_item_width;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    img {
      width: 10px;
      height: 10px;
    }
  }
}
